.intro__quote {
  max-width: 720px;
  font-family: "InterRegular", "Arial", "Helvetica", sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.4;
  margin-top: 2.5rem;
}

@media screen and (max-width: 544px) {
  .intro__quote {
    margin-top: 0.6rem;
    line-height: 1.25;
  }
}
