.photo-grid {
  max-width: 1184px;
  margin: 0 auto 92px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

@media screen and (max-width: 767px) {
  .photo-grid {
    justify-content: center;
    margin: 0 auto 62px;
  }
}
