.place__paragraph {
  grid-area: paragraph;
}

.place__paragraph p {
  font-family: "InterRegular", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.6;
}

.place__paragraph p:not(:last-child) {
  margin-bottom: 1.6rem;
}
