.lead__subtitle {
  font-family: "InterRegular", "Arial", "Helvetica", sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: normal;
  text-align: center;
  max-width: 720px;
  margin: 2rem auto 4rem;
}
