.lead__subtitle {
  font-family: "InterRegular", "Arial", "Helvetica", sans-serif;
  font-size: 30px;
  line-height: 1.25;
  font-weight: normal;
  text-align: center;
  max-width: 720px;
  width: 90%;
  margin: 32px auto 64px;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin: 99px auto 69px;
  }
}

@media screen and (max-width: 544px) {
  .lead__subtitle {
    font-size: 16px;
    margin: 60px auto 40px;
  }
}
