.lead__title {
  font-family: "InterBlack", "Arial", "Helvetica", sans-serif;
  font-size: 96px;
  font-weight: 900;
  line-height: 1.05;
  text-align: center;
  max-width: 793px;
  margin: 5.875rem auto 0;
}
