.lead__title {
  font-family: "InterBlack", "Arial", "Helvetica", sans-serif;
  font-size: 96px;
  font-weight: 900;
  line-height: 1.1;
  text-align: center;
  max-width: 793px;
  margin: 0 auto;
}

@media screen and (max-width: 959px) {
  .lead__title {
    margin: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__title {
    font-size: 40px;
    margin: 0 16px;
  }
}
