.intro__quote-author {
  max-width: 720px;
  font-family: "InterRegular", "Arial", "Helvetica", sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.4;
  margin-bottom: 2.5rem;
  text-align: right;
}

@media screen and (max-width: 544px) {
  .intro__quote-author {
    line-height: 1.25;
    margin-bottom: 18px;
    margin-top: 10px;
  }
}
