.button {
  text-decoration: none;
  padding: 13px 20px;
  background-color: #0278fe;
  border-radius: 4px;
  color: #fff;
  font-family: "InterSemiBold", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  gap: 10px;
  text-align: center;
}

.button:hover {
  background-color: #0063d2;
}
