.intro__title {
  font-family: "InterBlack", "Arial", "Helvetica", sans-serif;
  font-size: 54px;
  font-weight: 900;
  line-height: 1.1;
}

@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 32px;
  }
}
