.cover__subtitle {
  font-family: "InterRegular", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.6;
  margin: 32px 0;
}

.cover__subtitle span {
  display: block;
}

@media screen and (max-width: 544px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.1;
    margin: 16 px 0;
  }
}
