.place {
  max-width: 984px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 52fr 48fr;
  grid-gap: 48px;
  grid-template-areas:
    "title website"
    "image paragraph"
    "link .";
}

.place:last-child {
  margin-bottom: 0;
}
