.place__title {
  grid-area: title;
  font-family: "InterBlack", "Arial", "Helvetica", sans-serif;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.1;
  /* align-self: end; */
}

@media screen and (max-width: 1024px) {
  .place__title {
    font-size: 42px;
    margin: 0 16px;
  }
}

@media screen and (max-width: 544px) {
  .place__title {
    font-size: 32px;
  }
}
